{
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "cmu": true,
    "$": true,
    "_": false,
    "Color": false,
    "Transforms": false,
    "ZeroClipboard": false,
    "module": false
  },
  "rules": {
    "block-scoped-var": 1,
    "brace-style": [1, "stroustrup", { "allowSingleLine": true }],
    "camelcase": 0,
    "comma-style": [1, "last"],
    "comma-spacing": 1,
    "curly": 1,
    "default-case": 1,
    "dot-notation": 1,
    "eol-last": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "key-spacing": 1,
    "new-cap": [2, { "capIsNewExceptions": ["$"] }],
    "new-parens": 2,
    "no-caller": 1,
    "no-comma-dangle": 2,
    "no-debugger": 1,
    "no-empty": 2,
    "no-extra-bind": 0,
    "no-floating-decimal": 2,
    "no-irregular-whitespace": 1,
    "no-lonely-if": 1,
    "no-loop-func": 0,
    "no-mixed-requires": 0,
    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "no-multi-spaces": 1,
    "no-multi-str": 0,
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "no-new": 2,
    "no-redeclare": 1,
    "no-space-before-semi": 1,
    "no-extra-semi": 1,
    "no-shadow": 1,
    "no-trailing-spaces": 1,
    "no-undefined": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 1,
    "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
    "no-use-before-define": 2,
    "quote-props": [1, "as-needed"],
    "quotes": [1, "single"],
    "radix": 2,
    "semi": 1,
    "space-after-keywords": [1, "always", { "checkFunctionKeyword": false } ],
    "space-before-blocks": 1,
    "space-in-brackets": [0, "always", {
      "singleValue": false,
      "arraysInArrays": false,
      "propertyName": false
    }],
    "space-infix-ops": 1,
    "space-return-throw-case": 1,
    "strict": 0,
    "valid-jsdoc": [2, { "prefer": { "return": "returns"}}],
    "valid-typeof": 2,
    "wrap-iife": [1, "any"]
  }
}
