// #UTILS

@function parse-int($n) {
  @return $n / ($n * 0 + 1);
}

%vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin background-image-svg($name, $width, $height) {
  background-image: url('#{$name}.png'); // IE8 & below
  background-image: none, url('#{$name}.svg');
  background-size: $width $height;
}

@mixin truncate($width: 100%) {
  text-overflow: ellipsis;
  overflow: hidden;
  width: $width;
  white-space: nowrap;
}

@mixin striped-bg($bg-color: #ccc, $darken-amount: 5%, $stripe-color: darken($bg-color, $darken-amount)) {
  background: $bg-color linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}

@mixin vertical-align($top: 50%) {
  position: relative;
  top: $top;
  transform: translateY(-$top);
}

@mixin dashed-border($dashlength,
$spacelength,
$borderwidth,
$color,
$position: top) {
  $per: percentage($dashlength / ($dashlength + $spacelength));
  background-image: linear-gradient(to right, $color 0%, $color $per, rgba(0, 0, 0, 0) $per);
  background-position: 0 $position;
  background-size: ($dashlength + $spacelength) $borderwidth;
  background-repeat: repeat-x;
}

@mixin dashed-border-vertical($dashlength,
$spacelength,
$borderwidth,
$color,
$position: left) {
  $per: percentage($dashlength / ($dashlength + $spacelength));
  background-image: linear-gradient(to bottom, $color 0%, $color $per, rgba(0, 0, 0, 0) $per);
  background-position: $position 0;
  background-size: $borderwidth ($dashlength + $spacelength);
  background-repeat: repeat-y;
}

// Media queries shortcuts...
@mixin xs-only {
  @include max-screen(breakpoint-max('xs')) {
    @content;
  }
}

@mixin ix {
  @include min-screen(breakpoint-min('ix')) {
    @content;
  }
}

@mixin ix-only {
  @include max-screen(breakpoint-max('ix')) {
    @content;
  }
}

@mixin sm {
  @include min-screen(breakpoint-min('sm')) {
    @content;
  }
}

@mixin sm-only {
  @include max-screen(breakpoint-max('sm')) {
    @content;
  }
}

@mixin is {
  @include min-screen(breakpoint-min('is')) {
    @content;
  }
}

@mixin is-only {
  @include max-screen(breakpoint-max('is')) {
    @content;
  }
}

@mixin md {
  @include min-screen(breakpoint-min('md')) {
    @content;
  }
}

@mixin md-only {
  @include max-screen(breakpoint-max('md')) {
    @content;
  }
}

@mixin im {
  @include min-screen(breakpoint-min('im')) {
    @content;
  }
}

@mixin im-only {
  @include max-screen(breakpoint-max('im')) {
    @content;
  }
}

@mixin lg {
  @include min-screen(breakpoint-min('lg')) {
    @content;
  }
}

@mixin lg-only {
  @include max-screen(breakpoint-max('lg')) {
    @content;
  }
}

@mixin xl {
  @include min-screen(breakpoint-min('xl')) {
    @content;
  }
}
