.app {
  @include striped-bg(#eee);
  padding-bottom: 5.4rem;
  position: relative;

  &__message {
    background-color: rgba(#fff, 0.8);
    border-radius: 0 0 0.6rem 0.6rem;
    color: #f00;
    display: none;
    font-size: 2rem;
    font-weight: 200;
    left: 30%;
    line-height: 1;
    padding: ($grid-gutter-width / 4) 0;
    position: absolute;
    text-align: center;
    text-transform: lowercase;
    top: 0;
    width: 40%;
  }

  &__footer {
    background-color: #fff;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;
    position: absolute;
    right: 0;
  }

}

.app-overlay {
  background-color: rgba(#000, 0.2);
  bottom: 0;
  cursor: pointer;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;

  &.visible {
    display: block;
  }
}

