.app__boxes {
  font-size: 0;
  position: relative;

  > a {
    background-color: #f7f7f7;
    display: inline-block;
    height: 0;
    padding-bottom: 33.3333%;
    position: relative;
    width: 33.3333%;

    @include sm {
      padding-bottom: 25%;
      width: 25%;
    }

    @include md {
      padding-bottom: 20%;
      width: 20%;
    }

    @include lg {
      padding-bottom: 16.666666667%;
      width: 16.666666667%;
    }

    @include xl {
      padding-bottom: 12.5%;
      width: 12.5%;
    }
  }

  .fa {
    font-size: 2rem;
  }
}
.app__box {
  bottom: 0.8rem;
  display: inline-block;
  font-size: 2rem;
  font-weight: 200;
  position: absolute;
  text-align: center;
  width: 100%;
}
