.app__header {
  background-color: #dcdcdc;
  border-bottom: 0.4rem solid #ccc;
  margin: 0 auto;
  padding: ($grid-gutter-width / 2) ($grid-gutter-width / 2) $grid-gutter-width;
  position: relative;
  text-align: center;
  width: 100%;

  &__wrapper {
    margin: 0 auto;

    @include md {
      width: 64rem;
    }
  }

  .logo {
    height: 0;
    padding-bottom: calc(80% / 5);
    width: 80%;

    @include sm {
      margin: 0 auto;
    }

    svg {
      pointer-events: none;

      @include md {
        path {
          cursor: pointer;
          pointer-events: painted;
        }
      }
    }
  }
}

.app__input {
  margin-top: 3rem;
  position: relative;

  .input-group {
    opacity: 0.8;
    position: relative;

    .fa {
      font-size: 2.4rem;
    }

    &-addon {
      a {
        color: $body-color;
        display: inline-block;
        width: 2.4rem;
      }
    }
  }

  .form-control {
    -webkit-appearance: none;
    border-width: 0.1rem;
    font-size: 2.4rem;

    &:focus {
      border-color: #ccc;
      box-shadow: none;
    }
  }

  .random-color {
    .fa-refresh {
      transform: rotate(0deg);
    }

    &.rotate {
      .fa-refresh {
        animation: rotate 0.4s;
      }
    }
  }
}

.app__info {
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: ($grid-gutter-width / 1.5);
  min-height: 3.2rem;

  > div {
    background-color: rgba(#fff, 0.4);
    border-radius: 0.4rem;
    flex: 1 100%;
    font-size: 0;
    padding: 0.8rem;

    @include sm {
      flex: 1 1 auto;
    }

    @include md {
      padding: 1.2rem;
    }

    &:nth-child(1) {
      @include sm {
        margin-right: 1rem;
      }

      @include md {
        margin-right: 2rem;
      }
    }

    &:nth-child(2) {
      margin-top: ($grid-gutter-width / 2);

      @include sm {
        margin-left: 1rem;
        margin-top: 0;
      }

      @include md {
        margin-left: 2rem;
      }
    }
  }

  .color-value {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1;
    width: (100% / 3);

    &:nth-child(1n+2) {
      border-left: 0.1rem solid rgba(#000, 0.2);
    }

    div {
      font-family: Montserrat, sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      min-height: 2.2rem;
    }

    &:nth-child(1n+4) {
      margin-top: 1.2rem;

      @include md {
        margin-top: 0;
      }
    }
  }
}

.app__type {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -1rem;
  margin-top: ($grid-gutter-width / 1.5);

  @include md {
    justify-content: space-between;
  }

  > * {
    padding-bottom: 1rem;

    + div {
      @include sm {
        margin-left: 2rem;
      }
    }
  }

  .btn {
    line-height: 1;
    padding: 0.8rem 1rem;
  }

  .hsl {
    margin: 0 auto;

    @include ix {
      margin: 0;
    }
  }

  .steps {
    flex: 0 9rem;
    position: relative;

    @include ix {
      margin: 0 auto;
    }

    @include is {
      margin: 0;
    }

    @include md {
      flex: 0 7.5rem;
    }

    .form-control {
      height: 3rem;
      line-height: 2.2rem;
      padding-left: 2.6rem;
    }

    .fa {
      color: #555;
      left: 0.5rem;
      pointer-events: none;
      position: absolute;
      top: 0.65rem;
      z-index: 2;

      @include is-only {
        display: none;
      }
    }
  }

  a.active {
    font-weight: 700;
  }

}
