.numeric-field {
  &-wrapper {
    display: inline-block;
    position: relative;
    user-select: none;

    // Change some things on hover ---------------------------------------------
    &:hover {
      .numeric-field-up,
      .numeric-field-down {
        background: rgba(0, 0, 0, 0.1);
        opacity: 1;
      }
    }

    &.disabled {
      pointer-events: none;

      .numeric-field-up,
      .numeric-field-down {
        box-shadow: none;
        opacity: 0.3;
        pointer-events: none;
      }
    }

    &.std input {
      appearance: none;
      border: 0.1rem solid #ccc;
      border-radius: 0.2rem;
      box-shadow: 0 0 0.1rem 0 rgba(0, 0, 0, 0.8) inset;
      display: block;
      line-height: normal;
      padding-left: 0.4rem;
    }

    // Bootstrap styling -------------------------------------------------------
    &.bs-form-control {
      .numeric-field-up {
        border-radius: 0.1rem 0.2rem 0.1rem 0.1rem;
        margin-bottom: 0.1rem;
        right: 0.3rem;
        top: 0.3rem;
      }

      .numeric-field-down {
        border-radius: 0.1rem 0.1rem 0.2rem;
        bottom: 0.3rem;
        margin-top: 0.1rem;
        right: 0.3rem;
      }
    }
  }

  // The input ---------------------------------------------------------------
  &-input {
    padding-right: 2rem;
    text-align: center;

    &:focus {
      border-color: #bbb;
      outline: 0;
    }
  }

  // The Up/Down buttons -----------------------------------------------------
  &-up,
  &-down {
    background: rgba(0, 0, 0, 0.1);
    cursor: default;
    opacity: 0.75;
    position: absolute;
    right: 0.2rem;
    text-align: center;
    transition: all 0.2s;
    width: 1.4rem;

    // arrow triangles -----------------------------------------------------
    &:before {
      border-style: solid;
      content: '';
      height: 0;
      left: 50%;
      margin: -0.2rem 0 0 -0.4rem;
      position: absolute;
      top: 50%;
      user-select: none;
      width: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    &:active {
      background: rgba(0, 0, 0, 0.3);
    }
  }

  // Up button ---------------------------------------------------------------
  &-up {
    border-radius: 0.1rem;
    bottom: 50%;
    top: 0.2rem;
    // margin-bottom : 0.1rem;

    &:after {
      bottom: -0.1rem;
      content: '';
      left: -0.1rem;
      position: absolute;
      right: -0.1rem;
      top: -0.1rem;
    }

    &:before {
      border-color: transparent transparent rgba(0, 0, 0, 0.7);
      border-width: 0 0.4rem 0.4rem;
    }
  }

  // Down button -------------------------------------------------------------
  &-down {
    border-radius: 0.1rem;
    bottom: 0.2rem;
    top: 50%;
    // margin-top    : 0.1rem;

    &:after {
      bottom: -0.1rem;
      content: '';
      left: -0.1rem;
      position: absolute;
      right: -0.1rem;
      top: -0.1rem;
    }

    &:before {
      border-color: rgba(0, 0, 0, 0.7) transparent transparent;
      border-width: 0.4rem 0.4rem 0;
    }
  }

  @at-root .mobile & {
    &-input {
      padding-left: 2.6rem;
      padding-right: 2.6rem;
      text-align: center;
    }

    .bs-form-control {
      .numeric-field-up {
        border-radius: 0 $border-radius $border-radius 0;
      }

      .numeric-field-down {
        border-radius: $border-radius 0 0 $border-radius;
      }
    }

    &-up {
      border-radius: 0 0.1rem 0.1rem 0;
      right: 0;

      &:before {
        height: 0.2rem;
        margin: -0.1rem 0 0 -0.7rem;
        width: 1.4rem;
      }

      &:after {
        height: 1.4rem;
        margin: -0.7rem 0 0 -0.1rem;
        width: 0.2rem;
      }
    }

    &-down {
      border-radius: 0.1rem 0 0 0.1rem;
      left: 0;
      right: auto;

      &:before {
        height: 0.2rem;
        margin: -0.1rem 0 0 -0.7rem;
        width: 1.4rem;
      }

      &:after {
        display: none;
      }
    }

    &-up,
    &-down {
      bottom: 0;
      box-shadow: none;
      margin: 0;
      top: 0;
      width: 2.6rem;

      &:before,
      &:after {
        background: #000;
        border: 0;
        border-radius: 0.1rem;
        content: '';
        left: 50%;
        top: 50%;
      }
    }
  }
}
