.app__sliders {
  background-color: rgba(#fff, 0.4);
  border-radius: 0.4rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin-top: ($grid-gutter-width / 1.5);
  min-height: 5rem;
  padding: 1rem;

  @include md {
    flex-direction: row;
  }

  &__menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: $grid-gutter-width / 2;

    @include md {
      flex-direction: column;
      margin-bottom: 0;
    }

    li {
      background-color: rgba(#000, 0.1);

      button {
        align-items: center;
        color: $body-color;
        display: flex;
        height: $grid-gutter-width;
        justify-content: center;
        width: 5rem;

        @include md {
          height: $grid-gutter-width * 1.5;
        }

        &:focus,
        &:hover {
          text-decoration: none;
        }
      }

      &.active {
        background-color: rgba(#000, 0.2);

        a {
          font-weight: 700;
        }
      }
    }
  }

  &__list {
    @include md {
      width: 90%;
    }
  }
}

.app__slider {
  height: 3rem;
  width: 100%;

  .slider {
    width: calc(100% - 12.5rem);
  }

  .range-name {
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 1.2rem;
    min-width: 6rem;
    text-align: right;
  }

  .numeric-field-wrapper {
    display: inline-block;
    margin-left: 1.2rem;
    position: relative;
    width: 4rem;

    button {
      display: none;
    }

    .numeric-field-input {
      padding-left: $grid-gutter-width / 6;
      padding-right: $grid-gutter-width / 6;
    }
  }

  .numeric-field-input {
    background: transparent;
    border: 0;
    color: $body-color;
    font-size: 1.3rem;
    outline: none;
    text-align: center;
    width: 100%;

    &:focus {
      font-weight: 700;
    }
  }
}
