.numeric-input-wrap {
  display: inline-block;
  position: relative;
  user-select: none;

  // The input ---------------------------------------------------------------
  .numeric-input-input {
    box-sizing: border-box;
    padding-right: 2rem;
  }

  // The Up/Down buttons -----------------------------------------------------
  .numeric-input-up,
  .numeric-input-down {
    background: rgba(0, 0, 0, 0.1);
    //box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.2);
    cursor: default;
    opacity: 0.75;
    position: absolute;
    right: 2px;
    text-align: center;
    transition: all 0.2s;
    width: 1.4rem;

    // arrow triangles -----------------------------------------------------
    &:before {
      border-style: solid;
      content: '';
      height: 0;
      left: 50%;
      margin: -0.3ex 0 0 -0.6ex;
      position: absolute;
      top: 50%;
      user-select: none;
      width: 0;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      //box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
    }

    &:active {
      background: rgba(0, 0, 0, 0.3);
      //box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.4);
    }
  }

  // Up button ---------------------------------------------------------------
  .numeric-input-up {
    border-radius: 1px;
    bottom: 50%;
    top: 2px;
    // margin-bottom : 1px;

    &:after {
      bottom: -1px;
      content: '';
      left: -1px;
      position: absolute;
      right: -1px;
      top: -1px;
    }

    &:before {
      border-color: transparent transparent rgba(0, 0, 0, 0.7);
      border-width: 0 0.6ex 0.6ex;
    }
  }

  // Down button -------------------------------------------------------------
  .numeric-input-down {
    border-radius: 1px;
    bottom: 2px;
    top: 50%;
    // margin-top    : 1px;

    &:after {
      bottom: -1px;
      content: '';
      left: -1px;
      position: absolute;
      right: -1px;
      top: -1px;
    }

    &:before {
      border-color: rgba(0, 0, 0, 0.7) transparent transparent;
      border-width: 0.6ex 0.6ex 0;
    }
  }

  // Chnage some things on hover ---------------------------------------------
  &:hover {
    .numeric-input-up,
    .numeric-input-down {
      background: rgba(0, 0, 0, 0.1);
      //box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.2);
      opacity: 1;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.std input {
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    // box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.8) inset;
    display: block;
    line-height: normal;
    padding-left: 4px;
  }

  // Bootstrap styling -------------------------------------------------------
  &.bs-form-control {
    .numeric-input-up {
      border-radius: 1px 2px 1px 1px;
      margin-bottom: 1px;
      right: 3px;
      top: 3px;
    }

    .numeric-input-down {
      border-radius: 1px 1px 2px;
      bottom: 3px;
      margin-top: 1px;
      right: 3px;
    }
  }
}

// Mobile ------------------------------------------------------------------
.mobile {
  .numeric-input-wrap {
    input {
      border-radius: 2px;
      padding-left: 3.4ex;
      padding-right: 3.4ex;
      text-align: center;
    }

    .numeric-input-up,
    .numeric-input-down {
      bottom: 1px;
      box-shadow: none;
      margin: 0;
      top: 1px;
      width: 3.3ex;

      &:before,
      &:after {
        background: #000;
        border: 0;
        border-radius: 1px;
        content: '';
        left: 50%;
        top: 50%;
      }
    }

    .numeric-input-up {
      border-radius: 0 1px 1px 0;
      //box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
      right: 1px;

      &:before {
        height: 2px;
        margin: -1px 0 0 -7px;
        width: 14px;
      }

      &:after {
        height: 14px;
        margin: -7px 0 0 -1px;
        width: 2px;
      }
    }

    .numeric-input-down {
      border-radius: 1px 0 0 1px;
      box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1) inset;
      left: 1px;
      right: auto;

      &:before {
        height: 2px;
        margin: -1px 0 0 -7px;
        width: 14px;
      }

      &:after {
        display: none;
      }
    }

    &.bs-form-control {
      input {
        border-radius: 4px;
      }

      .numeric-input-up {
        border-radius: 0 3px 3px 0;
      }

      .numeric-input-down {
        border-radius: 3px 0 0 3px;
      }
    }
  }
}

.disabled {
  .numeric-input-wrap {
    pointer-events: none;
  }

  .numeric-input-up,
  .numeric-input-down {
    box-shadow: none;
    opacity: 0.3;
    pointer-events: none;
  }
}
