.slider-wrapper {
  height: 3rem;
  width: 100%;

  .slider {
    width: calc(100% - 12.5rem);
  }

  .range-name {
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 1.2rem;
    min-width: 6rem;
    text-align: right;
  }

  // Tooltip Tag
  .range-input {
    background: transparent;
    border: 0;
    color: $body-color;
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 1.2rem;
    outline: none;
    position: relative;
    text-align: center;
    width: 4rem;

    &:focus {
      font-weight: 700;
    }

    &-wrap {
      a {
        display: none;
      }

      .range-input {
        padding-left: $grid-gutter-width / 6;
        padding-right: $grid-gutter-width / 6;
      }
    }
  }
}

// Firefox Overrides

input::-moz-focus-inner {
  border: 0;
}
