.main {
  background-color: #f5f5f5;
  border-bottom: 2px solid rgba(0 0 0 / 40%);
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-md) var(--spacing-xl);
  position: relative;
  text-align: center;
  width: 100%;
}

.content {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
}

.options {
  margin-top: var(--spacing-xs);
  position: relative;

  @media (width >= 375px) {
    margin-top: var(--spacing-md);
  }
}

.optionsGroup {
  display: flex;
  position: relative;

  & input {
    appearance: none;
    border: 0;
    flex: 1;
    font-size: 24px;
    padding: 0 var(--spacing-md);
    width: 100%;

    &:focus {
      border-color: #ccc;
      box-shadow: none;
    }
  }

  & span + span {
    border-left: 1px solid #fff;
  }

  & [data-component-name='ButtonUnstyled'],
  & [data-component-name='CopyToClipboard'] {
    background-color: rgba(255 255 255 / 80%);
    padding: var(--spacing-md);
  }
}

.toggle {
  position: fixed;
  right: var(--spacing-md);
  top: var(--spacing-md);
  z-index: 15;

  & input {
    display: none;
  }

  & label {
    cursor: pointer;
    display: block;
    height: 30px;
    position: relative;
    width: 35px;
  }

  & span {
    border-bottom: 5px solid currentcolor;
    display: block;
    padding-top: 10px;
    transition-delay: 0.125s;

    &:before,
    &:after {
      border-top: 5px solid currentcolor;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      transform-origin: center;
      transition-delay: 0s;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 4px;
    }
  }

  & span,
  & span:before,
  & span:after {
    transition-duration: 0.25s;
    transition-property: transform, border-color;
    transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1.5);
  }

  & input:checked + span {
    border-color: transparent;
    transition-delay: 0s;

    &:before,
    &:after {
      transition-delay: 0.125s;
    }

    &:before {
      transform: translateY(8px) rotate(135deg);
    }

    &:after {
      transform: translateY(-13px) rotate(-135deg);
    }
  }
}

.selectors {
  & [data-component-name='Button'] {
    border: 0;

    &:not(:first-of-type) {
      border-left: 1px solid var(--selected-color);
    }
  }
}
