.main {
  bottom: 0;
  color: #fff;
  height: 100%;
  opacity: 0;
  overflow: auto;
  padding: var(--spacing-xxl) var(--spacing-xl) var(--spacing-xl);
  position: fixed;
  right: -100%;
  top: 0;
  transition: all 0.3s ease-in-out;
  width: 270px;
  z-index: 10;

  a {
    display: inline-flex;
    height: 32px;
    width: 32px;
  }
}

.mainOpen {
  opacity: 1;
  right: 0;
}
